.section_target[section="contact"]{
	.container_content{

		$primary: #337ab7;
		$secondary: #337ab7;
		$white: #fff;
		$gray: #9b9b9b;
		.form__group {
		  position: relative;
		  padding: 15px 0 0;
		  margin-top: 10px;
		}

		.form__field {
		  font-family: inherit;
		  width: 100%;
		  border: 0;
		  border-bottom: 2px solid $gray;
		  outline: 0;
		  font-size: 1.3rem;
		  color: $white;
		  padding: 7px 0;
		  background: transparent;
		  transition: border-color 0.2s;

		  &::placeholder {
		    color: transparent;
		  }

		  &:placeholder-shown ~ .form__label {
		    font-size: 1.3rem;
		    cursor: text;
		    top: 20px;
		  }
		}

		.form__label {
		  position: absolute;
		  top: 0;
		  display: block;
		  transition: 0.2s;
		  font-size: 1rem;
		  color: $gray;
		}

		.form__field:focus {
		  ~ .form__label {
		    position: absolute;
		    top: 0;
		    display: block;
		    transition: 0.2s;
		    font-size: 1rem;
		    color: $primary;
		    font-weight:700;    
		  }
		  padding-bottom: 6px;  
		  font-weight: 700;
		  border-width: 3px;
		  border-image: linear-gradient(to right, $primary,$secondary);
		  border-image-slice: 1;
		}
		/* reset input */
		.form__field{
		  &:required,&:invalid { box-shadow:none; }
		}


		.form__textarea {
		  height: 1em;
		  transition: all ease-in-out .5s;
		  
		  // Not releated to animation
		  appearance: none;
		  -webkit-appearance: none;
		  border: 1px solid rgba(0,0,0,.5);
		  border-radius: 3px;
		  padding: .5em;
		  font-size: 1em;
		  width: 100%;
		  
		  &:focus {
		    height: 4em;
		  }
		  
		  &:valid {
		    height: 2em;
		  }
		}

		.contact_details{
			padding: 20px;
			text-align: center;
			@media (max-width: 992px){
				padding: 20px 5px;
				text-align: center;
			}

			p{
				margin: 20px 0px;
				i{
					margin: 0px 10px;
				}
			}
		}
		.contact_form{
			padding: 20px;
			text-align: center;
		}
		.contact_detail_title{
			font-weight: 600;
			margin: 10px;
			text-align: center;

			
		}
		hr{
			width: 90%;
			display: block;
			margin: 0px auto;
		}
	}
}